.mainCard {
    margin-top: 5vh;
    margin-left: 23vw;
    position:relative;
}
.parent {
    position: relative;
    top: 0;
    left: 0;
}
.image1 {
    position: relative;
    top: 0;
    left: 0;
}
.image2 {
    position: absolute;
    top: 5vh;
    left: 30vw;
}
.revealCardContainer {
    width: 55vw;
    height: 50vh;
}
